body{
    width: 1900px;
    margin: 0 auto;
    font-family:'Open Sans', sans-serif, Courier;
}
/*header*/
.menu-nav{
    position: relative;
}
.navbar{
    background: #1D2124;
    display: flex;
    position: absolute;
    width: 100%;
}
.link-logo{
    display: block;
    height: 70px;
}
.link-logo>:first-child{
    height: 70px;
}
.nav{
    align-self: center;
    flex-grow: 1;
}
.main-menu{
    justify-content: center;
    display: flex;
}
.main-menu>:first-child{
    padding-left: 0;
}
.main-menu li{
    font-weight: 600;
    padding-left: 37px;   
}
.main-menu-link{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}
.search{
    display: flex;
    background: #171A1C;
    color: #fff;
}
.link-search{
    color: #fff;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    display: flex;
}
.title{
    text-align: center;
    padding:61px 0 52px 0;
    color: #18B4CF;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
}
/*section1-header*/
.header{
    height: 445px;
    background-image:linear-gradient( rgba(46, 41, 41, 0.5), rgba(48, 42, 42, 0.5) ), url('../img/header-bg.jpeg');
    background-size: cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    width: 100%;
    /* background-position: 0 -550px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.header-title{
    color: #fff;
    font-size: 27px;
    padding-bottom: 44px;
}
.header-btn{
    display: flex;
    width: 360px;
    justify-content: space-between;
}
.btn-link{
    width: 170px;
    height: 55px;
}
.btn{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 170px;
    height: 55px;
    border-radius: 4px;
}
.btn-green{
    background: #89CA62;
}
.btn-blue{
    background: #14B9D5;
}

/*section2 - most-popular-posts-list*/

.container-posts{
    height: 1030px;
    background: #F2F2F2;
}
.wrap-flex{
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.wrap-post>:nth-child(1)>:nth-child(1){
    margin-bottom: 32px;
}
.post{
    width: 370px;
    background: #fff;
    text-align: center;
    font-weight: 700;
}
.post-text{
    padding: 22px 0;
    font-size: 18px;
}
/*section 3 - parallax*/
.parallax{
    height: 590px;
    background-image:linear-gradient( rgba(46, 41, 41, 0.5), rgba(48, 42, 42, 0.5) ), url('../img/parallax-bg.jpeg');
    background-size: cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    display: grid;
    justify-content: center;
    align-items: center;
}
.grid-parallax{
    display: grid;
    grid-template-rows: repeat(2, 55px);
    grid-template-columns: repeat(4, 210px);
    row-gap: 116px;
    column-gap: 80px;
    color: #fff;
    grid-template-areas:
    "box0 box0 box0 box0"
    "box1 box2 box3 box4"
}
.grid{
    align-self: center;
    text-align: center;
}
.grid-title{
    grid-area: box0;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}
.grid-title-line{
    padding-bottom: 55px;
    border-bottom: 4px solid #169CB4;
}
.grid-box1{
    grid-area: box1;
}
.grid-box2{
    grid-area: box2;
}
.grid-box3{
    grid-area: box3;    
}
.grid-box4{
    grid-area: box4;    
}
/*section 4 */
.top-rated-grid{
    display: grid;
    grid-template-rows: 190px;
    grid-template-columns: repeat(7, 271px);
}
.hot-news-grid{
    width: 1169px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 259px 35px 418px 35px 416px 35px 259px;
    grid-template-columns: 277px 277px 60px 277px 277px;
    padding-bottom: 71px;
}
.gb{
    cursor: pointer;
    background: #F9F7F7;
}
.gd{
    text-align: end;
}
.gt{
    color: #353A3D;    
    font-size: 18px;
    font-weight: 700;    
}
.gt-gb1,.gt-gb8{
    padding-bottom: 22px;  
}
.gbt{
    line-height: 1.4;
    font-size: 14px;
    color: #5B6469;
    font-weight: 600;
    overflow: hidden;
}
.gd1, .gd8{
    padding: 41px 24px 37px 512px;    
}
.gb1{
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-right: 35px;
}
.gbt1, .gbt8{
    height: 140px;
}
.gb1>:first-child,.gb8>:first-child{
  float: left;   
}
.gb2{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}
.gt-gb2,.gt-gb7{
    text-align: center;
    padding-top: 14px;
}
.gb3{
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.gd-center{
    padding: 20px 27px 21px 22px;
}
.gt-gb-center{
    padding-bottom: 22px;
}
.gbt-center{
    height: 77px;
}
.gb4{
    grid-column-start: 4;
    grid-column-end: span 6;
    grid-row-start: 3;
    grid-row-end: 4;
}
.gb5{
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 5;
    grid-row-end: 6;
}
.gb6{
    grid-column-start: 4;
    grid-column-end: span 6;
    grid-row-start: 5;
    grid-row-end: 6;
}
.gb7{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
}
.gb8{
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 7;
    grid-row-end: 8;
    margin-left: 35px;
}
/*footer*/
.footer{
    background: #1D2124;
}
.footer-grid{
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 1169px;
    grid-template-rows: 80px;
    grid-template-columns: 504px 105px;
    display: grid;
}
.footer-text{
    font-size: 13px;
    color: #fff;
}